body {
    background-image: url("../../assets/images/background.jpeg");
}

#contain {
    margin: 0 auto;
    margin-top: 2%;
    height: 85vh;
    width: 45%;
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 5px;
}

h3 {
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

#question {
    color: blue;
    font-family: sans-serif;
    word-spacing: 2.5px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    margin-top: 50px;
}

#choice, #choice2, #choice3, #choice4 {
    margin-top: 20px;
    display: none;
}

.all, .all2, .all3, .all4 {
    text-align: center;
    font-size: 30px;
}

.all:hover, .all2:hover, .all3:hover, .all4:hover {
    background-color: darkgray;
    color: white;
}

/*  1. how far away is the sun in astronomical units?
    2. what is the speed of light
    3. what would happen to a humans body that would reach speed of light?*/